#macOS X Files
.metadata/
.DS_Store

#Build files
/build
out/
/java-network/build

#IntelliJ IDEA files
.idea/workspace.xml
.idea/libraries

#Gradle files
.gradle/

#Old folder files
SecureTransactionLibrary-STL/
shared/build/

shared/gradle/

shared/gradlew

shared/gradlew\.bat
